/.pytest_cache
/.vscode
/John_Lewis_docs
/Stuff
__pycache__/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

*.csv